body {
    background-color: red;
}

img { 
    width: 400px;
}

h1,p {
    font-size:200%;
}

.food {
font-family: 'Bungee Inline', cursive;
}

h2 {
    font-family: 'Monoton', cursive;
    font-size:200%;
}

h3 {
    font-family: 'Hanalei Fill', cursive;
}

h4,.videogame {
   font-family: 'Black Ops One', cursive;
   font-size:40px;
}